/* TODO : These properties should be set automatically */

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
